var httpProxy = require('http-proxy'),
    KeepAliveAgent = require('agentkeepalive');

var proxy = httpProxy.createServer({
  target: '$origin',
  changeOrigin: true,
  xfwd: true,
  agent: new KeepAliveAgent()
});
proxy.on('error', function (e) { console.error(e); });
var port = process.env.port || 8000;
console.info('listening on port', port);
proxy.listen(port);
